In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
import time
from selenium.common.exceptions import NoSuchElementException

In [23]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

# 1
Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) View

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [11]:
rank = []
for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]'):
    rank.append(i.text.replace('/n',' ')) # finding rank of the songs
len(rank)
v = []
for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]'):
    v.append(i.text.replace('/n',' '))  #finding views
date = []
for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]'):
    date.append(i.text.replace('/n',' '))  #finding date of upload
t = []
for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]'):
    t.append(i.text.replace('/n',' '))  # title of the videos
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:                         #finding artist 
        artist.append(i.text)

except NoSuchElementException:#handling no such element exception
    artist.append('No details available')

except StaleElementReferenceException:#handling Stale element exception
    artist.append('No details available')

30

In [13]:
video_df = pd.DataFrame({})
video_df['Rank'] = rank
video_df['Title'] = t
video_df['Artist'] =  artist
video_df['View(in billions)'] = v
video_df['Upload Date'] = date
video_df

,Rank,Title,Artist,View(in billions),Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.39,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.43,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.14,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.12,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.91,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.38,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.07,"May 24, 2018"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.06,"August 18, 2014"
21,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""[48]",Maroon 5,3.04,"May 31, 2018"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,28.,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

# 2
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [15]:
driver.get('https://www.bcci.tv/')

In [18]:
navi = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
navi.click()      #clicking on navigation dropdown to get its option

In [22]:
inter_fixtures = driver.find_element_by_xpath("//div[@class='drop-down__options']/ul[1]/li[1]/a")
i = inter_fixtures.get_attribute('href')      
driver.get(i) 
#Now after getting navigation option fetch the international feature href attribute and open that page through driver.get()

In [28]:
#  Getting paths of title, place,time,date and series of match
title = []
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    title.append(i.text.replace('/n',' '))
place = []
for j in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span'):
    place.append(j.text.replace('/n',''))
time = []
for j in driver.find_elements_by_xpath('//span[@class="fixture__time"]'):
    time.append(j.text.replace('/n',''))
date = []
for j in driver.find_elements_by_xpath('//span[@class="fixture__date"]'):
    date.append(j.text.replace('/n',''))
month = []
for j in driver.find_elements_by_xpath('//span[@class="fixture__month"]'):
    month.append(j.text.replace('/n',''))
series = []
for k in driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]'):
    series.append(k.text.replace('/n',''))

In [37]:
# The series that fetched were in format of 'TEST ICC WORLD \n TEST CHAMPIONSHIP' to remove '\n' from the list I used this code
series_n = []
for s in series:
    new_string = s.replace("\n", " ")
    series_n.append(new_string)

In [41]:
#For date month and date were fetched seperately to map it in single list , used map and lambda function
match_date = []
match_date = list(map(lambda x, y: x+ ' ' +y, date, month))

In [43]:
international_fixtures = pd.DataFrame({})
international_fixtures['title'] = title
international_fixtures['Place'] = place
international_fixtures['Date'] = match_date
international_fixtures['Time'] = time
international_fixtures['series'] = series_n
international_fixtures

,title,Place,Date,Time,series
0,Final,"The Ageas Bowl, Southampton",18 JUNE,15:00 IST,TEST ICC WORLD TEST CHAMPIONSHIP
1,1st Test,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST,TEST ENGLAND V INDIA 2021
2,2nd Test,"Lord's, London",12 AUGUST,15:30 IST,TEST ENGLAND V INDIA 2021
3,3rd Test,"Headingley, Leeds",25 AUGUST,15:30 IST,TEST ENGLAND V INDIA 2021
4,4th Test,"The Oval, London",02 SEPTEMBER,15:30 IST,TEST ENGLAND V INDIA 2021
5,5th Test,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST,TEST ENGLAND V INDIA 2021

# 3

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [24]:
driver.get('https://www.guru99.com/')

In [25]:
selenium = driver.find_element_by_xpath('//li[@class="fa fa-chevron-circle-right"][3]')
selenium.click() #To move from home page to selenium exeption handling page:
#1. moved to selenium page(which has all the topics related to selenium)

In [31]:
#2.From selenium syllabus move to exception handling page by finding the path and fetched href attribute 
#then open that page through driver.get()
exp_handling = driver.find_element_by_xpath('//table[@class="table"][5]/tbody/tr[34]/td[1]/a')
i = exp_handling.get_attribute('href')
driver.get(i)

In [69]:
#Finding path of name and desc of exceptions
name_ = []
for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]'):
    name_.append(i.text.replace('/n',''))
desc = []
for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]'):
    desc.append(i.text.replace('/n',''))

In [73]:
#deleted 0 index of name and desc as headings of the table also fetched with the records
del name_[0]

In [75]:
del desc[0]

In [76]:
exception_handling = pd.DataFrame({})
exception_handling['exception name'] = name_
exception_handling['Description'] = desc
exception_handling

,exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [14]:
driver.get('http://statisticstimes.com/')

In [15]:
economy_dropdown = driver.find_element_by_xpath('//div[@class="dropdown"][2]/div/a[3]')
i = economy_dropdown.get_attribute('href')
driver.get(i)  
#for moving from home page to India economy I directly find the path of India from economy dropdown and saved its href in 'i'
#then used driver.get() to use open that page

In [14]:
#finding paths for required details
rank = []
for i in driver.find_elements_by_xpath('//td[@class="data1"]')[:33]:
    rank.append(i.text.replace('/n',''))
state = []
for i in driver.find_elements_by_xpath('//td[@class="name"]')[:33]:
    state.append(i.text.replace('/n',''))
GSDP=[]
for i in driver.find_elements_by_xpath('//tr[@role="row"]/td[3]')[:33]:
    GSDP.append(i.text.replace('/n',''))
GSDP_1=[]
for i in driver.find_elements_by_xpath('//tr[@role="row"]/td[4]')[:33]:
    GSDP_1.append(i.text.replace('/n',''))
share=[]
for i in driver.find_elements_by_xpath('//tr[@role="row"]/td[5]')[:33]:
    share.append(i.text.replace('/n',''))
GDP=[]
for i in driver.find_elements_by_xpath('//tr[@role="row"]/td[6]')[:33]:
    GDP.append(i.text.replace('/n',''))

In [37]:
statewise_gdp_ = pd.DataFrame({})
statewise_gdp_['Rank'] = rank
statewise_gdp_['State name'] = state
statewise_gdp_['GSDP(19-20)'] = GSDP
statewise_gdp_['GSDP(18-19)'] = GSDP_1
statewise_gdp_['Share'] = share
statewise_gdp_['GDP($billions)'] = GDP
statewise_gdp_

,Rank,State name,GSDP(19-20),GSDP(18-19),Share,GDP($billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [16]:
driver.get('https://github.com/')

In [17]:
trending = driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"][2]/li[3]/a')
driver.get(trending.get_attribute('href'))
#home page to trending page find the path of trending from explore dropbox then after fetching its href I used get method.

In [6]:
url=[]
for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a'):
    url.append(i.get_attribute('href'))
#Fetching urls for individual trending repositories

In [11]:
title =[]
descp =[]
c =[]
lan=[]
#finding paths from each url and used exception handling for absence of any element
for i in url:  
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center break-word f3 text-normal"]')
        title.append(p.text.replace('/n',''))
    except NoSuchElementException:
        title.append('-')
    try:
        p=driver.find_element_by_xpath('//div[@class="BorderGrid-cell"]/p')
        descp.append(p.text.replace('/n',''))
    except NoSuchElementException:
        descp.append('-')
    try:
        p=driver.find_element_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[4]/div/h2/a/span')
        c.append(p.text.replace('/n',''))
    except NoSuchElementException:
        c.append('-')
    try:
        p=driver.find_element_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[5]/div/ul')
        lan.append(p.text.replace('/n',''))
    except NoSuchElementException:
        lan.append('-')

In [15]:
#titles and languages had '\n' in records to remove it used this code for both
title_n = []
for s in title:
    new_string = s.replace("\n", " ")
    title_n.append(new_string)

In [20]:
lang_n = []
for s in lan:
    new_string = s.replace("\n", " ")
    lang_n.append(new_string)

In [22]:
github_repost = pd.DataFrame({})
github_repost['Title'] = title_n
github_repost['Language'] = lang_n
github_repost['contributers number'] = c
github_repost['Description'] = descp
github_repost

,Title,Language,contributers number,Description
0,madMAx43v3r / chia-plotter,C 68.9% C++ 30.6% Other 0.5%,11,-
1,peng-zhihui / XUAN-Bike,-,-,-
2,kingoflolz / mesh-transformer-jax,,-,Model parallel transformers in JAX and Haiku
3,jwasham / coding-interview-university,,197,A complete computer science study plan to beco...
4,microsoft / playwright,TypeScript 76.5% JavaScript 14.9% C++ 3.0% She...,116,"Node.js library to automate Chromium, Firefox ..."
5,zzanehip / The-OldOS-Project,Swift 93.4% Objective-C 5.9% Other 0.7%,5,Recreating a fully functional version of iOS 4...
6,TuSimple / naive-ui,-,-,A Vue 3 Component Library. Fairly Complete. Cu...
7,drawrowfly / tiktok-scraper,,8.5k,"TikTok Scraper. Download video posts, collect ..."
8,reactwg / react-18,-,3,Workgroup for React 18 release.
9,chinnkarahoi / jd_scripts,JavaScript 99.0% Other 1.0%,-,lxk0301/jd_scripts备份。不要star。不要fork。谢谢配合。
10,lan-tianxiang / jd_shell,,-,Node网页开发工具
11,spring-projects / spring-boot,,15.7k,Spring Boot
12,Charmve / computer-vision-in-action,-,-,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）
13,google / googletest,C++ 84.6% Python 12.2% CMake 1.0% C 0.9% Starl...,329,GoogleTest - Google Testing and Mocking Framework
14,maaslalani / slides,Go 98.4% Makefile 1.6%,5,Terminal based presentation tool
15,actions / virtual-environments,PowerShell 73.5% Shell 25.0% Other 1.5%,149,GitHub Actions virtual environments
16,lan-tianxiang / JS_TOOL,Shell 59.6% JavaScript 23.3% HTML 10.4% Python...,-,Node网页开发工具
17,whyour / qinglong,whyour whyour arho14 arho zt8989 Fcatme,4,Ant Design、Ant Design Pro 与 Umijs3.0 项目and暗黑主题...
18,mechaniac / Map-of-Javascript,-,-,Javascript on one sheet. (and one for algorithms)
19,GuoxianSong / AgileGAN,-,-,"Official repo for paper ""AgileGAN: Stylizing P..."
20,goldbergyoni / nodebestpractices,-,-,✅ The Node.js best practices list (June 2021)
21,hasura / graphql-engine,,-,"Blazing fast, instant realtime GraphQL APIs on..."
22,actions / starter-workflows,,-,Accelerating new GitHub Actions workflows
23,datastaxdevs / workshop-graphql-netflix,,-,Workshop to illustrate how to use GraphQL
24,PaperMC / Paper,-,-,High performance Spigot fork that aims to fix ...

# 6

Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [18]:
driver.get('https://www.billboard.com/')

In [19]:
charts = driver.find_element_by_xpath('//div[@class="header__main-menu__wrapper flex--grow"][1]/ul[1]/li[1]/a')
driver.get(charts.get_attribute('href'))

#from home page to hot 100 page
#1. moved to charts page through above code

In [29]:
hot = driver.find_element_by_xpath('//div[@class="charts-landing first-group"]/div[1]/a')
driver.get(hot.get_attribute('href'))
    #2. from charts to hot 100 page thorugh this code

In [30]:
#Finding details of top 100 songs

last_week=[]
for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]'):
    last_week.append(i.text.replace('/n',''))
peak=[]
for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]'):
    peak.append(i.text.replace('/n',''))
week_charts=[]
for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
    week_charts.append(i.text.replace('/n',''))
songs = []
for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
    songs.append(i.text.replace('/n',''))
artist=[]
for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]'):
    artist.append(i.text.replace('/n',''))

In [40]:
top_songs_df = pd.DataFrame({})
top_songs_df['Song name'] = songs
top_songs_df['Artist name'] = artist
top_songs_df['Last week rank'] = last_week
top_songs_df['Peak rank'] = peak
top_songs_df['weeks on board'] = week_charts
top_songs_df

,Song name,Artist name,Last week rank,Peak rank,weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

# 7

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [27]:
driver.get('https://www.naukri.com/')

In [28]:
recruiter_pg = driver.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]/a')
driver.get(recruiter_pg.get_attribute('href'))
#from home page to recruiters page fecth the path and after getting href open through get method

In [29]:
search = driver.find_element_by_xpath('//input[@class="sugInp"]')
search.send_keys('Data Science')
#In search bar send data science

In [30]:
click_button = driver.find_element_by_id('qsbFormBtn')
click_button.click()
#clicking on the search button to get the details

In [9]:
#fetched company name, recruiter name, designation and skills 
cmpny=[]
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]'):
    cmpny.append(i.text.replace('/n',''))
name=[]
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[1]'):
    name.append(i.text.replace('/n',''))
des=[]
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/span[1]'):
    des.append(i.text.replace('/n',''))
skills=[]
for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
    skills.append(i.text.replace('/n',''))

In [33]:
len(skills)

50

In [21]:
url=[]
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[1]'):
    url.append(i.get_attribute('href'))  #getting urls of each record

In [24]:
#location need to fetch from individual urls as not all the records mentioned location
location=[]
for i in url:  
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[5]/a')
        location.append(p.text.replace('/n',''))
    except NoSuchElementException:  #handling nosuchelement exception 
        location.append('-')

In [36]:
ds_recruiters = pd.DataFrame({})
ds_recruiters['Company name'] = cmpny
ds_recruiters['Recruiter name'] = name
ds_recruiters['Designation'] = des
ds_recruiters['location'] = location
ds_recruiters['Skills they hire for'] = skills
ds_recruiters

,Company name,Recruiter name,Designation,location,Skills they hire for
0,Data Science Network,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,Shore Infotech India Pvt. Ltd,shravan Kumar Gaddam,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Enerlytics Software Solutions Pvt Ltd,Anik Agrawal,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,LibraryXProject,subhas patel,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Apidel Technologies Division of Transpower,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,IFMR,Institute for Financial Management and Resear,Programme Manager,Chennai,Data Science
7,Techvantage Systems Pvt Ltd,Balu Ramesh,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Weupskill- Live Wire India,Asif Lucknowi,Director,Indore,"Technical Training, Software Development, Pres..."
9,CBL Data Science Private Limited,InstaFinancials,Human Resource,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Innominds Software,Kalpana Dumpala,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,MoneyTap,Mubarak,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,QuantMagnum Technologies Pvt. Ltd.,Kushal Rastogi,Company HR,Mumbai,"Office Administration, Hr Administration, tele..."
13,Bristlecone India Ltd,Ruchi Dhote,Senior Executive Talent Acquisition,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,SocialPrachar.com,Mahesh Babu Channa,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,BISP Solutions,Kapil Devang,HR Manager,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Easi Tax,Manisha Yadav,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Novelworx Digital Solutions,Riya Rajesh,Manager Talent Acquisition,Cochin,Data Science
18,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Rashmi Bhattacharjee,HR Head,Delhi,"Corporate Sales, Software Development, Softwar..."
19,FirstTech Consaltants Pvt.Ltd,Faizan Kareem,HR MANAGER,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
20,Affine Analytics,Rithika dadwal,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Dee..."
21,NEAL ANALYTICS SERVICES PVT LTD,Azahar Shaikh,Company Recruiter,Pune,"Data Science, Artificial Intelligence, Machine..."
22,Compumatrice Multimedia Pvt Ltd,Sandhya Khandagale,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligenc..."
23,Exela Technologies,Shaun Rao,Manager Human Resources,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Autumn Leaf Consulting Services Private...,Manas,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
25,trainin,kumar,Proprietor,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Nanoprecise Sci Corp,Sunil Vedula,CEO,Others,"Signal Processing, Machine Learning, Neural Ne..."
27,R.S Consultancy &amp; Services,Rajat Kumar,Founder CEO,Delhi,"Web Technologies, Project Management, Software..."
28,Independent Consultant,Priya Khare,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
29,Confidential,Dhruv Dev Dubey,Company Recruitment Head,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
30,"Dollarbird Information Services Pvt, Ltd",Jayanth N,Project Manager,Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
31,Techcovery,Radha Manivasagam,HR Executive,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learn..."
32,Trisect,Prateek Kumar,Head,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
33,ASCO consulting,Amit Sharma,Consultant,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
34,NY INST,Kanan,senior technology instructor,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
35,3D India Staffing Research &amp; Consulting...,Shashikant Chaudhary,HR Recruiter/HR Excutive,Aligarh,"Relationship Management, Retail Sales, Private..."
36,O.C. Tanner,Brad,"Manager, Technical Recruiting",Salt Lake City,"Data Science, Software Engineering"
37,Demand Matrix,Rutuja Pawar,Technical Recruiter,Pune,"Data Science, Big Data Analytics, Digital Mark..."
38,MADHUSUDHAN SRIDHAR,Madhusudhan Sridhar,Erp Implementer,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
39,Suntech Global,Ankit Sinha,Head Analytics,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
40,Strategic Consulting Lab,Gaurav Chouhan,Chief Technical Officer,Indore,"Software Development, Business Intelligence, B..."
41,Impel Labs Pvt. Ltd.,Rashi Kacker,Sr Product Manager,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
42,MRP Advisers,Ashwini,Director Global Delivery,MYSORE,"Data Science, Media Marketing, Resource Planni..."
43,Saras Solutions India Pvt Ltd,Balaji Kolli,Co Founder,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
44,WildJasmine,Rajani Nagaraj,HR Manager,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
45,LNT Private Limited,ROHIT Kumar,Architect,Mumbai,"Software Development, Core Java, Unit Testing,..."
46,Granular.ai,Amir Chowdhury,Managing Partner,,"Machine Learning, Data Science, Product Manage..."
47,Certybox Pvt.Ltd.,Shailja Mishra,HR Manager,Noida,"consulting, Education Counseling, Educational ..."
48,Western Service Providers,Sunny Sharma,Managing Director - HR,Mumbai,"Software Professionals, Engineering, Technical..."
49,AdView,Sagar Lama,Company HR Manager,Bengaluru / Bangalore,"Full Stack Developers, Product Manager, Data S..."

# 8

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [37]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [43]:
#finding details of books(title,author,vol,genre,publisher)
title=[]
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]'):
    title.append(i.text.replace('/n',''))
author=[]
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]'):
    author.append(i.text.replace('/n',''))
vol=[]
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]'):
    vol.append(i.text.replace('/n',''))
genre=[]
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]'):
    genre.append(i.text.replace('/n',''))
publisher=[]
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]'):
    publisher.append(i.text.replace('/n',''))

In [48]:
books_df = pd.DataFrame({})
books_df['Book Title'] = title
books_df['Author'] = author
books_df['Volume sale'] = vol
books_df['Publisher'] = publisher
books_df['Genre'] = genre
books_df

,Book Title,Author,Volume sale,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9

Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [49]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [50]:
#fetched the required data by finding paths for individual columns(name,yr,genre,run time,rating,votes)
name_=[]
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a[1]'):
    name_.append(i.text.replace('/n',''))
yr=[]
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]'):
    yr.append(i.text.replace('/n',''))
Genre=[]
for i in driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]'):
    Genre.append(i.text.replace('/n',''))
rating=[]
for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]'):
    rating.append(i.text.replace('/n',''))
votes=[]
for i in driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]'):
    votes.append(i.text.replace('/n',''))
rtime=[]
for i in driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]/div[2]/p[1]/span[3]'):
    rtime.append(i.text.replace('/n',''))

In [73]:
tv_series = pd.DataFrame({})
tv_series['Name'] = name_
tv_series['Year span'] = yr
tv_series['Genre'] = Genre
tv_series['Ratings'] = rating
tv_series['Number of votes'] = votes
tv_series['Run time'] = rtime
tv_series

,Name,Year span,Genre,Ratings,Number of votes,Run time
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.3,"1,821,534",57 min
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"862,639",51 min
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,"873,943",44 min
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.6,"262,497",60 min
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"223,794",43 min
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",7.5,"44,547",42 min
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"55,032",50 min
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8,"167,438",42 min
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"34,859",45 min
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"191,165",572 min

# 10
Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [4]:
driver.get('https://archive.ics.uci.edu/')

In [7]:
view_all = driver.find_element_by_xpath('//tbody/tr/td[2]/span[@class="whitetext"][2]/a')
driver.get(view_all.get_attribute('href'))  
#from home page to view all datesets page fetch the href of that page and open through driver.get

In [20]:
dt=[]
for i in driver.find_elements_by_xpath('//tbody/tr/td[2]/p[@class="normal"]'):
    dt.append(i.text.replace('/n',''))

In [28]:
#In dt both name and datatypes were fetched at alternate place at even place name were there and at odd datatype
#So extracted both by this code in different list
c=0
name=[]
datatype=[]
for i in dt:
    if(c%2==0):
        name.append(i)
        c=c+1
    elif(c%2==1):
        datatype.append(i)
        c=c+1

In [42]:
#fetched remaining 5 columns from the table by finding the paths
task=[]
for i in driver.find_elements_by_xpath('//tbody/tr/td[3]/p[@class="normal"]'):
    task.append(i.text.replace('/n',''))
no_insta=[]
for i in driver.find_elements_by_xpath('//tbody/tr/td[5]/p[@class="normal"]'):
    no_insta.append(i.text.replace('/n',''))
attri=[]
for i in driver.find_elements_by_xpath('//tbody/tr/td[4]/p[@class="normal"]'):
    attri.append(i.text.replace('/n',''))
no_attri=[]
for i in driver.find_elements_by_xpath('//tbody/tr/td[6]/p[@class="normal"]'):
    no_attri.append(i.text.replace('/n',''))
yr=[]
for i in driver.find_elements_by_xpath('//tbody/tr/td[7]/p[@class="normal"]'):
    yr.append(i.text.replace('/n',''))

In [51]:
datasets_uci = pd.DataFrame({})
datasets_uci['Dataset name'] = name
datasets_uci[' Data type'] = datatype
datasets_uci['Task'] = task
datasets_uci['Attribute type'] = attri
datasets_uci['No of instances'] = no_insta
datasets_uci[' No of attribute'] = no_attri
datasets_uci['Year'] = yr
datasets_uci

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021